body {
  font-family: Arial, sans-serif;
  text-align: center;
}

ul {
  list-style-position: inside;
}

h1 {
  font-size: 48px;
  color: #333;
  margin: 20px;
}

img {
  width: 50%;
  height: auto;
  margin-bottom: 20px;
}
